.Appointment {
    height: 100%;
    background-color: rgb(87, 173, 73);
    padding: 2rem 2rem;
    color: whitesmoke;
    align-self: center;
    justify-self: center;


    

    .input {
        width: 100%;
        height: fit-content;
        margin-bottom: 0.8rem;
        
        color: aliceblue;
        padding: 0.1rem;
        // padding-left: 0.6rem;
        p{
            padding: 1rem 0 0 0 ;
           
        }
        p ul{
            padding: 0.5rem 0 0.5rem 0;
            li{
                list-style-type: circle;
            }
        }
    
    }
    #make {
        background-color: rgb(23, 60, 198);
        color: aliceblue;
        border: 2px solid whitesmoke;
        border-radius: 2px;
        margin-top: 0.5rem;
        height: 3rem;
        width: 11rem;
        cursor: pointer;
    
    }
    h4{
        padding-bottom: 1rem;
    }
    
    
    ::placeholder {
        color: aliceblue;
    }
}


