.logo-navbar{
   user-select: none; 
   box-sizing: border-box;
   padding: auto;
   display: flex;
   height: 70px;
   width: 180px;
   // background-color: rgb(255, 207, 207);


   .logo-image{
      img{
         height: 60px;
         width: 180px;
         padding-top: 5px;
        
      }
   }
}