

.ServiceContainer {
    padding: 5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .ServiceBox {
        height: fit-content;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.625);
        border-radius: 5px;
        margin: 1rem;
        padding: 1rem;
        &:hover{
            border: 1px solid rgba(128, 128, 128);
            z-index: 10;
            box-shadow: 3px 3px 3px 3px rgb(193, 190, 190);


        }
        
        .service-key-box {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 1.5rem 0 1rem 1rem;
            .service-key {
                list-style: inherit;
                color: rgb(46, 46, 62);
                padding: 0 0.5rem 0 0.2rem;
                span {
                    font-size: 14px;
                    padding:0  0.8rem 0 0;

                    color: black;
                }
            }
        }

        .ServImg {
            height: 40%;
            width: 100%;
        }

        .servicePara {
            padding: 0.5rem 0;
        }

        .readMorebtn {
            color: white;
            padding: 0.3rem 0.4rem;
            cursor: pointer;
            background-color: rgb(16, 194, 243);
            border: 1px solid rgba(128, 128, 128, 0.5);
            border-radius: 2px;
            &:hover{
                border: 1px solid rgba(128, 128, 128);
    
            }
        }
    }

}

@media screen and (max-width: 993px) {
    .ServiceContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2rem;
        justify-content: center;
    }


}

@media screen and (max-width: 768px) {
    .ServiceContainer {
        display: grid;
        grid-template-columns: 100%;
        padding: 2rem;
        .ServiceBox {
            
            .service-key-box {
                display: grid;
                grid-template-columns: 100%;
                
            }
        }

    }

    // .HeadingImage {
    //     height: 20rem;

    //     .virtualbox {
    //         font-size: 3.5rem;
    //     }
    // }


}

