.IntroToAddbox{
    height: 10rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 2rem;
    z-index: 1;
    background-color: rgb(178, 177, 167);
    padding: 2rem 0 0 0 ;

    .JoinBtn {
        background-color: rgb(40, 239, 99);
        color: aliceblue;
        height: fit-content;
        border-radius: 15px;
        border: 2px solid whitesmoke;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }
    .JoinBtn:hover{
border: 1px solid rgb(83, 102, 146);        ;
    }
    
    
}