.ContentContainer {
    // height: 65vh;
    background-color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 3rem;
    overflow: hidden;
    height: fit-content;

    .Medicacontent {

        background-color: white;
        // padding: 2rem 4rem;

        h1 {
            span {
                color: white;
                background-color: blue;
                padding: 0 0.4rem;

            }
        }

        .ContentPara {
            margin: 2rem 1rem 0 0rem;
            font-size: 1rem;
        }

        .li_el_box {
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 2rem 0rem 2rem 1rem;

            .li_el {
                list-style: inherit;
                color: blue;
                font-size: 1rem;

                span {
                    color: black;
                }
            }
        }

        .Readbtn {
            background-color: rgb(18, 76, 237);
            color: aliceblue;
            height: fit-content;
            border-radius: 5%;
            padding: 1rem;
            cursor: pointer;
        }
    }

    .DocImg {
        // background-image: url("https://res.cloudinary.com/dttau3ddh/image/upload/v1708184699/WhatsApp_Image_2024-02-17_at_19.41.42_qaesue.jpg");
        background-size: contain;
        display: flex;
        height: 100%;
        width: 100%;
        
    
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: fit-content;
            aspect-ratio: 4/3;
        object-fit:cover;
        }

    }
}

@media screen and (max-width: 993px) {
    .ContentContainer {
        display: block;
        height: 100%;
        align-content: center;
        padding: 1rem;

        .Medicacontent {
            width: 100%;
            padding: 0;

            .li_el_box {

                margin: 1rem ;
                justify-content: center;
            }
        }

        .DocImg {
            display: none;
            transition: 0.5s ease-in;
        }


    }
}

@media screen and (max-width: 768px) {
    .ContentContainer {
        .Medicacontent {
            padding: 1rem ;

            .li_el_box {
                display: grid;
                grid-template-columns: 100%;
            }
        }

    }
}