
.joinBox{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    padding:2rem;
    

  
    .leftjoinbox{
        padding: 1rem;
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 0 2rem 0 0;
        .JoinHeading{
            font-weight: bolder;
            font-size: 1.5rem;
            color: rgb(11, 13, 12);
            text-align: center;
            
          
        }
        
        .applybox{
            padding: 1rem 0 1rem 0;
            // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin: 1rem;
            .joinpara{
                font-weight: 500;
            padding: 1rem 0;
            .joinas{
                font-size: medium;
                color:rebeccapurple;
                font-weight: bolder;
                background-color:greenyellow;
                padding: 1px 6px 1px 6px;
                border-radius: 2px;
            }
            }
            .Applybtn {
            background-color: rgb(67, 234, 131);
            color: aliceblue;
            height: fit-content;
            width: 8.5rem;
            border-radius: 4px;
            border: 1px solid whitesmoke;
            padding: 0.5rem 0rem 0.7rem 1rem;
            font-size: 1.1rem;
            font-weight: 900;
        color: white;
            cursor: pointer;
            }
        }
    }

    .rightjoinbox{
        padding: 1rem;
       
        // background-image: url("https://res.cloudinary.com/dttau3ddh/image/upload/v1713722430/6187674_m7gdxv.jpg");
        // background-size: contain;
        // background-repeat: no-repeat;
        img{
            aspect-ratio: 5.6/3.7;
            object-fit: cover;
            width: 100%;
            padding: 1rem 0;
        }
    }
}

@media screen and (max-width: 993px){
    .joinBox{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        padding:1rem;
    
    .rightjoinbox{
        margin: 2rem 0;

    }
    .leftjoinbox{
        
        margin: 0 ;
    }
}
}

