@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.about_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem 1rem;
    
    .content{
       .heading{
        font-family: 'Poppins', sans-serif;
        padding: 1rem 0;
       }

       .para{
        font-family: 'Poppins', sans-serif;
        font-size: 1.1rem;
        color: rgb(89, 89, 89);
       }
        padding: 5% 4%;

    }

    .aboutImage{
        padding:1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
       
        img{
            aspect-ratio: 4/3.7;
            object-fit: cover;
            width: 60%;
            padding: 1rem 0;
        }
        h4{
            padding:0.6rem 1rem;
            background-color: rgb(92, 240, 141); /* For browsers that do not support gradients */
            background-image: linear-gradient(rgb(118, 255, 166), rgb(214, 234, 227));   
                     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        }
    }
    
    .about1{
        padding: 1rem 0;
        .mainAboutHeading{
            font-size: 2.5rem;
        }
    }
}

.centerElements{
    display: flex;
        // justify-content: center;
        // align-items: center;

}