::-webkit-scrollbar {
   width: 4px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #ffffff;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #00a2ff
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background:  #3402ff;
 }

 /* .navbar_box{
  position: sticky;
  top: 0;
  z-index: 100000;
  box-shadow: 4px 10px 15px -3px rgba(0,0,0,0.1);
 } */